In [1]:
import pandas as pd
import numpy as np
from config import *
from feature_extract import *
from datetime import date

import pandas as pd
import numpy as np
from config import *
from feature_extract import *
from datetime import date

def extract_other_feature(dataset_file_path,num):
	print '第{0}个样本提取'.format(num)
	other_feature = pd.read_csv(dataset_file_path)
	# other_feature.drop_duplicates(inplace=True)

	# 用户该月/该天收到的优惠券数
	t1 = user_this_month_all_coupon_count(other_feature)
	t2 = user_this_day_all_coupon_count(other_feature)
	t3 = user_this_month_same_coupon_count(other_feature)
	t4 = user_this_day_same_coupon_count(other_feature)

	other_feature = pd.merge(other_feature,t1,on='User_id')
	other_feature = pd.merge(other_feature,t2,on=['User_id','Date_received'])
	other_feature = pd.merge(other_feature,t3,on=['User_id','Coupon_id'])
	other_feature = pd.merge(other_feature,t4,on=['User_id','Coupon_id','Date_received'])

	# 用户收到的优惠券是哪一天/周末吗
	other_feature['day_of_week'] = other_feature.Date_received.astype('str').apply(lambda x:date(int(x[0:4]),int(x[4:6]),int(x[6:8])).weekday()+1 if x!='null' else 'null')
	# other_feature['day_of_month'] = other_feature.Date_received.astype('str').apply(lambda x:int(x[6:8]) if x!='null' else 'null')
	other_feature['is_weekend'] = other_feature.day_of_week.apply(lambda x:1 if x in (6,7) else 0 if x!='null' else 'null')

	other_feature = other_feature.drop(['Discount_rate'],axis=1)
	other_feature.to_csv('data/other_feature{0}.csv'.format(num),index=None)
    
    
for k,path in enumerate(processed_dataset_path):
    extract_other_feature(path,k+1)

第1个样本提取

feature_extract.py:160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  t1['Coupon_id'] = t1['Coupon_id'].astype('str')

用户该月收到coupon数提取
用户该天收到coupon数提取

feature_extract.py:171: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  t['Coupon_id'] = t['Coupon_id'].astype('str')

用户该月收到相同coupon数提取
用户该天收到相同coupon数提取
第2个样本提取
用户该月收到coupon数提取
用户该天收到coupon数提取
用户该月收到相同coupon数提取
用户该天收到相同coupon数提取
第3个样本提取
用户该月收到coupon数提取
用户该天收到coupon数提取
用户该月收到相同coupon数提取
用户该天收到相同coupon数提取

In [2]:
temp=pd.read_csv('data/other_feature3.csv')
temp[temp['user_coupon_first']!=0]

,User_id,Merchant_id,Coupon_id,Distance,Date_received,user_this_month_all_coupon_count,user_this_day_all_coupon_count,user_this_month_same_coupon_count,user_coupon_first,user_coupon_last,user_this_day_same_coupon_count,day_of_week,is_weekend
97,3644167,3876,11463,0,20160710,5,1,5,1,0,1,7,1
102,3644167,3876,11463,0,20160706,5,1,5,1,0,1,3,0
107,3644167,3876,11463,0,20160708,5,1,5,1,0,1,5,0
112,3644167,3876,11463,0,20160711,5,1,5,1,0,1,1,0
117,3644167,3876,11463,0,20160713,5,1,5,1,0,1,3,0
143,3704071,5543,10110,2,20160716,2,1,2,1,0,1,6,1
145,3704071,5543,10110,2,20160707,2,1,2,1,0,1,4,0
177,3930889,3954,2893,0,20160724,4,1,2,1,0,1,7,1
179,3930889,3954,2893,0,20160726,4,1,2,1,0,1,2,0
183,4066057,1873,5702,5,20160716,4,1,3,1,0,1,6,1
186,4066057,1873,5702,5,20160723,4,1,3,1,0,1,6,1
189,4066057,1873,5702,5,20160709,4,1,3,1,0,1,6,1
234,6992410,7613,1971,null,20160706,5,1,5,1,0,1,3,0
239,6992410,7613,1971,null,20160701,5,1,5,1,0,1,5,0
244,6992410,7613,1971,null,20160708,5,1,5,1,0,1,5,0
249,6992410,7613,1971,null,20160705,5,1,5,1,0,1,2,0
254,6992410,7613,1971,null,20160711,5,1,5,1,0,1,1,0
273,2247949,6522,1589,4,20160710,4,1,2,1,0,1,7,1
275,2247949,6522,1589,4,20160721,4,1,2,1,0,1,4,0
350,2680081,3068,8780,0,20160717,3,1,2,1,0,1,7,1
352,2680081,3068,8780,0,20160722,3,1,2,1,0,1,5,0
359,3624211,3109,11512,0,20160724,2,1,2,1,0,1,7,1
361,3624211,3109,11512,0,20160715,2,1,2,1,0,1,5,0
378,2146579,4883,4811,0,20160702,5,2,2,1,0,1,6,1
380,2146579,4883,4811,0,20160709,5,1,2,1,0,1,6,1
382,2146579,7903,8137,0,20160702,5,2,3,1,0,1,6,1
385,2146579,7903,8137,0,20160701,5,1,3,1,0,1,5,0
388,2146579,7903,8137,0,20160703,5,1,3,1,0,1,7,1
393,3470611,6025,11146,0,20160706,2,1,2,1,0,1,3,0
395,3470611,6025,11146,0,20160710,2,1,2,1,0,1,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
155001,7063985,5256,4864,0,20160723,3,1,2,1,0,1,6,1
155003,7063985,5256,4864,0,20160720,3,1,2,1,0,1,3,0
155014,6378929,7717,11894,10,20160708,3,2,2,1,0,1,5,0
155016,6378929,7717,11894,10,20160715,3,1,2,1,0,1,5,0
155026,4651445,1979,1780,0,20160729,3,1,3,1,0,1,5,0
155029,4651445,1979,1780,0,20160716,3,1,3,1,0,1,6,1
155032,4651445,1979,1780,0,20160722,3,1,3,1,0,1,5,0
155043,6897077,4113,8908,0,20160702,2,1,2,1,0,1,6,1
155045,6897077,4113,8908,0,20160706,2,1,2,1,0,1,3,0
155085,5843393,512,11467,0,20160727,3,1,2,1,0,1,3,0
155087,5843393,512,11467,0,20160730,3,1,2,1,0,1,6,1
155107,6825413,3518,11876,0,20160724,4,1,2,1,0,1,7,1
155109,6825413,3518,11876,0,20160706,4,1,2,1,0,1,3,0
155111,4496837,6135,8182,1,20160712,2,1,2,1,0,1,2,0
155113,4496837,6135,8182,1,20160713,2,1,2,1,0,1,3,0
155174,7135697,5013,558,0,20160715,4,1,4,1,0,1,5,0
155178,7135697,5013,558,0,20160718,4,2,4,1,0,2,1,0
155182,7135697,5013,558,0,20160718,4,2,4,1,0,2,1,0
155186,7135697,5013,558,0,20160716,4,1,4,1,0,1,6,1
155214,6073817,3597,3424,0,20160724,3,1,2,1,0,1,7,1
155216,6073817,3597,3424,0,20160725,3,1,2,1,0,1,1,0
155230,6850013,7843,2844,null,20160711,3,1,3,1,0,1,1,0
155233,6850013,7843,2844,null,20160721,3,1,3,1,0,1,4,0
155236,6850013,7843,2844,null,20160716,3,1,3,1,0,1,6,1
155274,7199201,797,7437,0,20160725,3,1,3,1,0,1,1,0
155277,7199201,797,7437,0,20160711,3,1,3,1,0,1,1,0
155280,7199201,797,7437,0,20160719,3,1,3,1,0,1,2,0
155322,5133809,797,7437,0,20160713,3,1,3,1,0,1,3,0
155325,5133809,797,7437,0,20160725,3,1,3,1,0,1,1,0
155328,5133809,797,7437,0,20160715,3,1,3,1,0,1,5,0

In [3]:
temp.shape

(155386, 14)