In [1]:
import pandas as pd
import numpy as np
from config import *
from feature_extract import *
from datetime import date

def extract_user_feature(feature_file_path,num):
	print '第{0}个样本提取'.format(num)
	feature = pd.read_csv(feature_file_path)
	feature.drop_duplicates(inplace=True)

	user = feature[['User_id']]
	user.drop_duplicates(inplace=True)

	# 用户交易次数
	t0 = user_buy_count(feature)

	# 用户领取优惠券次数
	t1 = user_received_count(feature)

	# # 用户15天总的不核销次数
	# t2 = user_notuse_coupon_count(feature)

	# 用户15天总的核销次数
	t3 = user_buy_use_coupon_count(feature)

	# # 用户满0~50/50~200/200~500 减的优惠券核销数
	# t4 = user_discount_type_use_count(feature)
	
	# 用户核销优惠券中的平均/最大/最小用户-商家距离
	t5,t6,t7 = user_merchant_use_coupon_distance(feature)

	# 用户交易过的商家数提取
	t8 = user_merchants_count(feature)
	
	#用户核销天数提取
	t9,t10,t11=user_date_datereceived_gap(feature)

# 	用户核销满0~50/50~200/200~500减的优惠券占所有核销优惠券的比重
# 	t12 = user_each_rate_discount_rate(feature)

	user = pd.merge(user,t0,on=['User_id'],how='left')
	user = pd.merge(user,t1,on=['User_id'],how='left')
	# user = pd.merge(user,t2,on=['User_id'],how='left')
	user = pd.merge(user,t3,on=['User_id'],how='left')
	user = pd.merge(user,t5,on=['User_id'],how='left')
	user = pd.merge(user,t6,on=['User_id'],how='left')
	user = pd.merge(user,t7,on=['User_id'],how='left')
	user = pd.merge(user,t8,on=['User_id'],how='left')
	user = pd.merge(user,t9,on=['User_id'],how='left')
	user = pd.merge(user,t10,on=['User_id'],how='left')
	user = pd.merge(user,t11,on=['User_id'],how='left')
# 	user = pd.merge(user,t12,on=['User_id'],how='left')

	user.user_buy_use_coupon_count = user.user_buy_use_coupon_count.replace(np.nan,0)
	
	# 用户使用优惠券交易率

	user['user_buy_use_coupon_rate'] = user.user_buy_use_coupon_count.astype('float') / user.user_buy_count.astype('float') 
	
	# 用户使用优惠券率

	user.user_coupon_transfer_rate = user.user_buy_use_coupon_count.astype('float') / user.user_received_count.astype('float')

	user.user_buy_count = user.user_buy_count.replace(np.nan,0)
	user.user_buy_count = user.user_buy_count.astype('int')
	user.user_coupon_transfer_rate = user.user_coupon_transfer_rate.replace(np.nan,0)
	user.user_received_count = user.user_received_count.replace(np.nan,0)
	user.user_received_count = user.user_received_count.astype('int')
	# user.user_notuse_coupon_count = user.user_notuse_coupon_count.replace(np.nan,0)
	user.user_buy_use_coupon_count = user.user_buy_use_coupon_count.replace(np.nan,0)
	user.user_buy_use_coupon_count = user.user_buy_use_coupon_count.astype('int')
	user.user_buy_use_coupon_rate = user.user_buy_use_coupon_rate.replace(np.nan,0)
	user.drop_duplicates(inplace=True)
	user.to_csv('data/user{0}.csv'.format(num),index=None)
    
for k,path in enumerate(processed_feature_path):
    extract_user_feature(path,k+1)

第1个样本提取

/usr/local/Cellar/anaconda/lib/python2.7/site-packages/pandas/util/decorators.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return func(*args, **kwargs)

该用户的所有交易次数提取
用户领取所有优惠券个数提取

/usr/local/Cellar/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:288: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/Cellar/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

用户15天总的核销次数提取
用户核销平均、最大、最小距离提取
用户交易过的商家数提取
用户核销天数提取
第2个样本提取
该用户的所有交易次数提取
用户领取所有优惠券个数提取
用户15天总的核销次数提取
用户核销平均、最大、最小距离提取
用户交易过的商家数提取
用户核销天数提取
第3个样本提取
该用户的所有交易次数提取
用户领取所有优惠券个数提取
用户15天总的核销次数提取
用户核销平均、最大、最小距离提取
用户交易过的商家数提取
用户核销天数提取

In [2]:
temp=pd.read_csv('data/user1.csv')
print temp.shape
print temp.info()

(382697, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382697 entries, 0 to 382696
Data columns (total 12 columns):
User_id                           382697 non-null int64
user_buy_count                    382697 non-null int64
user_received_count               382697 non-null int64
user_buy_use_coupon_count         382697 non-null int64
user_min_distance                 18775 non-null float64
user_max_distance                 18775 non-null float64
user_mean_distance                18775 non-null float64
user_merchants_count              139229 non-null float64
avg_user_date_datereceived_gap    24158 non-null float64
min_user_date_datereceived_gap    24158 non-null float64
max_user_date_datereceived_gap    24158 non-null float64
user_buy_use_coupon_rate          382697 non-null float64
dtypes: float64(8), int64(4)
memory usage: 35.0 MB
None

In [3]:
temp

,User_id,user_buy_count,user_received_count,user_buy_use_coupon_count,user_min_distance,user_max_distance,user_mean_distance,user_merchants_count,avg_user_date_datereceived_gap,min_user_date_datereceived_gap,max_user_date_datereceived_gap,user_buy_use_coupon_rate
0,1439408,1,2,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
1,2029232,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2,2223968,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3,73611,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
4,3273056,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
5,94107,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
6,253750,1,1,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
7,376492,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
8,1964720,1,1,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
9,1113008,1,1,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
10,2881376,2,2,1,0.0,0.0,0.0,1.0,8.0,8.0,8.0,0.500000
11,4061024,0,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
12,7073472,1,3,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
13,106443,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
14,442156,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
15,4717248,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
16,2621792,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
17,262252,0,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
18,4064096,1,0,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
19,114747,11,15,3,0.0,0.0,0.0,4.0,13.4,1.0,25.0,0.272727
20,3409760,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
21,983640,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
22,344428,1,0,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
23,656088,1,1,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
24,820056,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25,94347,0,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
26,180502,1,1,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
27,951384,0,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
28,4465344,0,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
29,328300,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
382667,424108,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382668,85563,1,0,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
382669,456940,1,0,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
382670,253078,0,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382671,522604,0,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382672,4953792,1,1,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
382673,457132,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382674,881496,0,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382675,118395,1,1,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
382676,1435568,2,0,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
382677,2346848,0,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382678,171286,0,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382679,195862,0,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382680,220438,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382681,4182368,1,5,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
382682,130731,2,7,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
382683,750936,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382684,77499,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382685,114363,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382686,2611040,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382687,6796992,0,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382688,3399008,2,1,1,0.0,0.0,0.0,1.0,4.0,4.0,4.0,0.500000
382689,261622,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382690,1306544,0,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382691,1241264,1,0,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
382692,1437872,1,3,1,4.0,4.0,4.0,1.0,4.0,4.0,4.0,1.000000
382693,3400544,1,1,0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.000000
382694,179830,0,12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382695,3795296,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
382696,212662,5,3,2,2.0,2.0,2.0,2.0,5.0,1.0,9.0,0.400000