In [1]:
import pandas as pd
import numpy as np
from config import *
from feature_extract import *
from datetime import date

def extract_other_feature(dataset_file_path,num):
	print '第{0}个样本提取'.format(num)
	other_feature = pd.read_csv(dataset_file_path)
	# other_feature.drop_duplicates(inplace=True)
	print other_feature.shape
	# 用户该月/该天收到的优惠券数
	t1 = user_this_month_all_coupon_count(other_feature)
	t2 = user_this_day_all_coupon_count(other_feature)
	t3 = user_this_month_same_coupon_count(other_feature)
	t4 = user_this_day_same_coupon_count(other_feature)
	t5 = user_this_month_same_coupon_ago_late_date(other_feature)

	other_feature = pd.merge(other_feature,t1,on='User_id',how='left')
	other_feature = pd.merge(other_feature,t2,on=['User_id','Date_received'],how='left')
	other_feature = pd.merge(other_feature,t3,on=['User_id','Coupon_id'],how='left')

	other_feature = pd.merge(other_feature,t4,on=['User_id','Coupon_id','Date_received'],how='left')

	other_feature = pd.merge(other_feature,t5,on=['User_id','Coupon_id'],how='left')

	# 用户收到的优惠券是哪一天/周末吗
	other_feature['day_of_week'] = other_feature.Date_received.astype('str').apply(lambda x:date(int(x[0:4]),int(x[4:6]),int(x[6:8])).weekday()+1 if x!='null' else 'null')
	other_feature['is_weekend'] = other_feature.day_of_week.apply(lambda x:1 if x in (6,7) else 0 if x!='null' else 'null')
	other_feature['day_of_month'] = other_feature.Date_received.astype('str').apply(lambda x:int(x[6:8]) if x!='null' else 'null')

    
	other_feature.loc[:,'user_receive_coupon_first'] = other_feature.apply(lambda x:1 if (x['user_this_month_same_coupon_count']!=1)&(x['Date_received']==x['Date_received_min']) else 0,axis=1)
	other_feature.loc[:,'user_receive_coupon_last'] = other_feature.apply(lambda x:1 if (x['user_this_month_same_coupon_count']!=1)&(x['Date_received']==x['Date_received_max']) else 0,axis=1)
	other_feature['user_receive_coupon_first'][other_feature['user_this_month_same_coupon_count']==1] = -1
	other_feature['user_receive_coupon_last'][other_feature['user_this_month_same_coupon_count']==1] = -1

# 	other_feature = other_feature.drop(['Discount_rate'],axis=1)
	other_feature = other_feature.drop(['Date_received_min'],axis=1)
	other_feature = other_feature.drop(['Date_received_max'],axis=1)

	other_feature['discount_man'] = other_feature.Discount_rate.apply(get_discount_man)
	other_feature['discount_jian'] = other_feature.Discount_rate.apply(get_discount_jian)
	other_feature['is_man_jian'] = other_feature.Discount_rate.apply(is_man_jian)
	other_feature['discount_per'] = other_feature.Discount_rate.apply(calc_discount_rate)    
    
	print other_feature.shape

	other_feature.to_csv('data/other_feature{0}.csv'.format(num),index=None)

for k,path in enumerate(processed_dataset_path):
    extract_other_feature(path,k+1)

第1个样本提取
(137167, 7)

feature_extract.py:187: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  t1['user_this_month_all_coupon_count'] = 1
feature_extract.py:262: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  t1['user_this_day_all_coupon_count'] = 1
/usr/local/Cellar/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:288: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/Cellar/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

用户该月收到coupon数提取
用户该天收到coupon数提取
用户该月收到相同coupon数提取
用户该天收到相同coupon数提取

feature_extract.py:270: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  t1['user_this_day_same_coupon_count'] = 1
/usr/local/Cellar/anaconda/lib/python2.7/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

用户该月收到相同coupon日期提取

/usr/local/Cellar/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Cellar/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(137167, 20)
第2个样本提取
(258446, 7)
用户该月收到coupon数提取
用户该天收到coupon数提取
用户该月收到相同coupon数提取
用户该天收到相同coupon数提取
用户该月收到相同coupon日期提取
(258446, 20)
第3个样本提取
(113640, 6)
用户该月收到coupon数提取
用户该天收到coupon数提取
用户该月收到相同coupon数提取
用户该天收到相同coupon数提取
用户该月收到相同coupon日期提取
(113640, 19)

In [2]:
temp=pd.read_csv('data/other_feature1.csv')

In [3]:
temp.shape

(137167, 20)

In [4]:
temp

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,user_this_month_all_coupon_count,user_this_day_all_coupon_count,user_this_month_same_coupon_count,user_this_day_same_coupon_count,day_of_week,is_weekend,day_of_month,user_receive_coupon_first,user_receive_coupon_last,discount_man,discount_jian,is_man_jian,discount_per
0,1832624,3381,7610,200:20,0,20160429,null,1,1,1,1,5,0,29,-1,-1,200,20,1,0.90
1,163606,1569,5054,200:30,10,20160421,null,1,1,1,1,4,0,21,-1,-1,200,30,1,0.85
2,4061024,3381,7610,200:20,10,20160426,null,1,1,1,1,2,0,26,-1,-1,200,20,1,0.90
3,106443,450,3732,30:5,null,20160429,null,1,1,1,1,5,0,29,-1,-1,30,5,1,0.83
4,114747,1569,5054,200:30,9,20160426,null,1,1,1,1,2,0,26,-1,-1,200,30,1,0.85
5,6038208,1569,5054,200:30,0,20160417,null,1,1,1,1,7,1,17,-1,-1,200,30,1,0.85
6,623832,4442,7643,100:50,null,20160429,null,1,1,1,1,5,0,29,-1,-1,100,50,1,0.50
7,918744,7555,9871,30:5,null,20160415,null,1,1,1,1,5,0,15,-1,-1,30,5,1,0.83
8,127227,3621,2705,20:5,0,20160510,null,1,1,1,1,2,0,10,-1,-1,20,5,1,0.75
9,3548000,3381,7610,200:20,10,20160429,null,1,1,1,1,5,0,29,-1,-1,200,20,1,0.90
10,4474560,6504,2348,30:1,1,20160505,null,1,1,1,1,4,0,5,-1,-1,30,1,1,0.97
11,361900,450,3732,30:5,0,20160430,null,1,1,1,1,6,1,30,-1,-1,30,5,1,0.83
12,527832,450,3732,30:5,1,20160430,null,1,1,1,1,6,1,30,-1,-1,30,5,1,0.83
13,140278,450,3732,30:5,4,20160414,null,1,1,1,1,4,0,14,-1,-1,30,5,1,0.83
14,460972,3381,7610,200:20,3,20160421,null,1,1,1,1,4,0,21,-1,-1,200,20,1,0.90
15,90699,7555,9871,30:5,3,20160420,null,1,1,1,1,3,0,20,-1,-1,30,5,1,0.83
16,2116448,2436,3992,30:5,10,20160422,null,1,1,1,1,5,0,22,-1,-1,30,5,1,0.83
17,379372,7884,6704,20:1,1,20160508,null,1,1,1,1,7,1,8,-1,-1,20,1,1,0.95
18,2904416,3381,7610,200:20,0,20160425,null,1,1,1,1,1,0,25,-1,-1,200,20,1,0.90
19,103083,2436,3992,30:5,0,20160422,null,1,1,1,1,5,0,22,-1,-1,30,5,1,0.83
20,222550,7717,9614,20:1,0,20160424,null,1,1,1,1,7,1,24,-1,-1,20,1,1,0.95
21,1780400,450,3732,30:5,10,20160424,null,1,1,1,1,7,1,24,-1,-1,30,5,1,0.83
22,78555,3381,7610,200:20,0,20160421,null,1,1,1,1,4,0,21,-1,-1,200,20,1,0.90
23,165334,6189,6302,30:1,0,20160511,null,1,1,1,1,3,0,11,-1,-1,30,1,1,0.97
24,1454000,6901,2366,30:5,0,20160504,null,1,1,1,1,3,0,4,-1,-1,30,5,1,0.83
25,330988,7555,9871,30:5,10,20160416,null,1,1,1,1,6,1,16,-1,-1,30,5,1,0.83
26,629592,7974,8952,50:10,null,20160425,null,1,1,1,1,1,0,25,-1,-1,50,10,1,0.80
27,891864,2963,1978,20:1,10,20160505,null,2,1,2,1,4,0,5,0,1,20,1,1,0.95
28,891864,2963,1978,20:1,10,20160425,null,2,1,2,1,1,0,25,1,0,20,1,1,0.95
29,119739,450,3732,30:5,0,20160423,null,1,1,1,1,6,1,23,-1,-1,30,5,1,0.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137137,244342,7921,8998,30:5,0,20160508,null,1,1,1,1,7,1,8,-1,-1,30,5,1,0.83
137138,4935360,8181,11860,30:10,0,20160425,null,1,1,1,1,1,0,25,-1,-1,30,10,1,0.67
137139,5721792,7555,9871,30:5,1,20160414,null,1,1,1,1,4,0,14,-1,-1,30,5,1,0.83
137140,6511296,2436,3992,30:5,0,20160430,null,1,1,1,1,6,1,30,-1,-1,30,5,1,0.83
137141,6250176,3293,2516,30:5,1,20160507,null,1,1,1,1,6,1,7,-1,-1,30,5,1,0.83
137142,1104560,3381,7610,200:20,0,20160417,null,1,1,1,1,7,1,17,-1,-1,200,20,1,0.90
137143,4680384,3621,2705,20:5,0,20160513,null,1,1,1,1,5,0,13,-1,-1,20,5,1,0.75
137144,6253248,6980,5387,30:1,0,20160424,null,1,1,1,1,7,1,24,-1,-1,30,1,1,0.97
137145,228214,6762,6023,100:30,0,20160513,null,1,1,1,1,5,0,13,-1,-1,100,30,1,0.70
137146,374764,3381,7610,200:20,6,20160426,null,1,1,1,1,2,0,26,-1,-1,200,20,1,0.90
137147,187414,7580,8640,200:20,null,20160502,null,1,1,1,1,1,0,2,-1,-1,200,20,1,0.90
137148,1044696,7555,9871,30:5,10,20160418,null,1,1,1,1,1,0,18,-1,-1,30,5,1,0.83
137149,3916640,2436,3992,30:5,0,20160428,null,1,1,1,1,4,0,28,-1,-1,30,5,1,0.83
137150,489772,1569,5054,200:30,4,20160415,null,1,1,1,1,5,0,15,-1,-1,200,30,1,0.85
137151,2090672,3449,426,100:20,null,20160425,null,2,1,1,1,1,0,25,-1,-1,100,20,1,0.80
137152,2090672,3449,13425,50:10,null,20160509,null,2,1,1,1,1,0,9,-1,-1,50,10,1,0.80
137153,553944,3381,7610,200:20,4,20160425,null,1,1,1,1,1,0,25,-1,-1,200,20,1,0.90
137154,3526496,3381,7610,200:20,3,20160417,null,1,1,1,1,7,1,17,-1,-1,200,20,1,0.90
137155,522796,1812,2112,100:20,0,20160429,null,2,2,1,1,5,0,29,-1,-1,100,20,1,0.80
137156,522796,1812,2692,100:20,0,20160429,null,2,2,1,1,5,0,29,-1,-1,100,20,1,0.80
137157,4182368,2050,13543,200:20,4,20160430,null,1,1,1,1,6,1,30,-1,-1,200,20,1,0.90
137158,73419,3381,7610,200:20,4,20160429,null,1,1,1,1,5,0,29,-1,-1,200,20,1,0.90
137159,261526,7555,2111,0.8,1,20160511,null,1,1,1,1,3,0,11,-1,-1,null,null,0,0.80
137160,81627,1569,5054,200:30,8,20160415,null,1,1,1,1,5,0,15,-1,-1,200,30,1,0.85
137161,98091,1553,10027,0.95,10,20160510,null,1,1,1,1,2,0,10,-1,-1,null,null,0,0.95
137162,457900,7907,13118,150:30,null,20160418,null,1,1,1,1,1,0,18,-1,-1,150,30,1,0.80
137163,4056416,7177,3469,20:1,null,20160514,null,1,1,1,1,6,1,14,-1,-1,20,1,1,0.95
137164,188086,6568,4723,30:1,0,20160415,null,1,1,1,1,5,0,15,-1,-1,30,1,1,0.97
137165,212662,3021,3739,30:1,6,20160504,20160508,2,1,2,1,3,0,4,1,0,30,1,1,0.97
137166,212662,3021,3739,30:1,6,20160508,20160602,2,1,2,1,7,1,8,0,1,30,1,1,0.97